body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(img/background2.jpg) ;
  background-repeat: no-repeat;
  background-size: 119%;
  background-position: center;

}
.nav{
  margin-top:0px ;
  display: flex;
  justify-content: space-evenly;
  
}
.nav a{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-evenly;
}
.nav ul{
  margin-top: 0px;
  display: flex;
  top: 0px;
  justify-content: space-evenly;
  font-size: 25px;
  list-style-type: none;
  text-decoration-line: none;
  margin-right: 60px;
  list-style: none;
}

.nav ul li{
  padding: 10%;
  background-color: burlywood;
  text-decoration: none;
}

.h1{
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: black;

}

.pokemon-list h1{
  font-size:100px;
  display: flex;
  justify-content: center;
}
.pokemon-list .flex{
  background-color: burlywood;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-evenly;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
